$white: #ffffff;
$black: #000000;
$iconColor: #d1bc92;
$buttonColor: #b88f76;
$textColor: #3a3a3a;
$borderColor: #dee2e6;
$grayColor: #999797;
$lightGrayColor: #fafafa;
$headingColor: #794f36;
$subHeadingColor: #91634287;
$gray: #dddddd;
